.searchform_section {
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    padding: 80px 70px 10px 70px;
    height: 228px;
}

.searchform_section_container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
}
.searchform_section_input {
    background-color: #F9F9F9;
    border-radius: 4px;
    border: none;
    color: #A0A0A0;
    padding: 0 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    height: 48px;
}

.searchform_section_button {
    height: 44px;
    min-width: 70px;
    padding: 13px 5px;
    border-radius: 40px;
    border:none;
    background-color: #FF6838;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 0 10px;
    cursor: pointer;
    transition: 0.3s ease all;
}

.searchform_section_button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 967px) {
    .searchform_section {
        padding: 80px 30px 10px;
        height: 228px;
    }
}

@media screen and (max-width: 568px) {
    .searchform_section {
        padding: 81px 14px 11px;
        height: 243px;
    }   
}